{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="widget-content">
	{% if saved %}
		<script type="text/javascript">
			require(['underscore', 'orotranslation/js/translator', 'oroui/js/widget-manager', 'oroui/js/messenger', 'oroui/js/mediator'],
				function(_, __, widgetManager, messenger, mediator) {
					widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget) {
						messenger.notificationFlashMessage('success', __('mekit.relationship.saved.message'));
						mediator.trigger('widget_success:' + widget.getAlias());
						mediator.trigger('widget_success:' + widget.getWid());
						widget.remove();
					});
				}
			);
		</script>
	{% else %}
		<script type="text/javascript">
			require(['underscore', 'orotranslation/js/translator', 'oroui/js/widget-manager', 'oroui/js/messenger', 'oroui/js/mediator'],
					function(_, __, widgetManager, messenger, mediator) {
						//console.log("ok");
					}
			);
		</script>
		{{ dataGrid.renderGrid(referenceableEntityConfig.get("datagrid_name_select"), {ref_el_id: referenceableElement.id}, {} ) }}
		{#{{ oro_datagrid_data }}#}
		<div class="form-container">
			{{ form_start(form) }}
				{{ form_widget(form.appendElements, {'id': 'appendElements'}) }}
				{{ form_widget(form.removeElements, {'id': 'removeElements'}) }}
				<div class="widget-actions form-actions" style="display: none;">
					<button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
					<button class="btn btn-primary" type="submit">{{ 'Save'|trans }}</button>
				</div>
			{{ form_end(form) }}
		</div>
	{% endif %}
</div>
