{% import 'OroUIBundle::macros.html.twig' as UI %}

<div class="widget-content">
	<div class="row-fluid form-horizontal">
		<div class="responsive-block">
			{{ UI.renderProperty('mekit.event.type.label'|trans, entity.type) }}
			{{ UI.renderProperty('mekit.event.start_date.label'|trans, entity.startDate|oro_format_datetime) }}
			{{ UI.renderProperty('mekit.event.end_date.label'|trans, entity.endDate|oro_format_datetime) }}
			{{ UI.renderProperty('mekit.event.duration.label'|trans, entity.duration|oro_format_duration) }}
			{{ UI.renderProperty('mekit.event.state.label'|trans, entity.state ? entity.state.label : null) }}
			{{ UI.renderProperty('mekit.event.priority.label'|trans, entity.priority ? entity.priority.label : null) }}
			{{ UI.renderProperty('mekit.event.description.label'|trans, entity.description) }}
		</div>
	</div>
</div>
