{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroTagBundle::macros.html.twig' as tag %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

{% set fullname = entity.name|default('N/A'|trans) %}

{%- set accountLink -%}
    {%- if entity.account -%}
	    {% if resource_granted('mekit_account_account_view') %}
		    <a href="{{ path('mekit_account_view', {'id': entity.account.id}) }}">
			    {{ entity.account.name }}
		    </a>
	    {% else %}
		    {{ entity.account.name }}
	    {% endif %}
    {%- endif -%}
{%- endset -%}



<div class="widget-content">
	<div class="row-fluid form-horizontal">
		<div class="responsive-block">
			{{ UI.renderProperty('mekit.project.name.label'|trans, fullname) }}
			{{ UI.renderHtmlProperty('mekit.project.account.label'|trans, accountLink) }}
			{{ UI.renderProperty('mekit.project.description.label'|trans, entity.description) }}
		</div>

		<div class="responsive-block">
			{{ entityConfig.renderDynamicFields(entity) }}
			{% if resource_granted('oro_tag_view_tag_cloud') %}
				{{ UI.renderHtmlProperty('oro.tag.entity_plural_label'|trans, tag.renderView(entity)) }}
			{% endif %}
		</div>
	</div>
</div>
